<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbvKyluBKwZCjR81aRO2LHycZh0ItmKfk</string>
	<key>GCM_SENDER_ID</key>
	<string>748748203466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.makuraTracer</string>
	<key>PROJECT_ID</key>
	<string>tracker-makura-rujeet</string>
	<key>STORAGE_BUCKET</key>
	<string>tracker-makura-rujeet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748748203466:ios:be7d917b2da04cbf245b33</string>
</dict>
</plist>